
.mosaicBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 105vh;
    background-image: url('../../assets/3.png');
    background-repeat: repeat;
    z-index: -1; /* Place the background behind other content */
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* If needed, to center vertically */
  }


.maskot {
  /* Your modal styles go here */
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  z-index: 9999999999999999;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.mascot-modal-content {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* styles.css */
.floating-cart {
  position: fixed;
  bottom: 5%; /* Adjust the distance from the bottom as per your preference */
  right: 5%; /* Adjust the distance from the right as per your preference */
  width: 130px; /* Set the initial width of the floating image */
  height: auto; /* Automatically adjust the height while maintaining the aspect ratio */
  z-index: 9999; /* Set a high z-index value to ensure the image stays on top of other elements */
  transition: width 0.3s ease; /* Add a transition effect for the width property */
  cursor: pointer;
}

.floating-cart:hover {
  width: 160px; /* Adjust the width on hover to make it grow */
}

.even-item {
  background-color: white; /* Set your desired background color for even items */
  border-top: 2px dotted purple;
}

.odd-item {
  border-top: 2px dotted purple;
  background-color: lightgray; /* Set your desired background color for odd items */
}


/* Add these styles to your CSS file or styles */
.scrollable-bar {
  /* Force the scrollbar to be always visible on mobile */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888888 #f0f0f0; /* Firefox */

  /* Force the scrollbar to be always visible on Webkit (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray
  }

  &::-webkit-scrollbar-track {
    background-color: purple;
  }
}
