

/* App.css */

.mosaicBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 105vh;
  background-image: url('../../assets/1.png');
  background-repeat: repeat;
  z-index: -1; /* Place the background behind other content */
}

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}
 
.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}


.regular-text{
  font-weight: normal;
}
.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* If needed, to center vertically */
  }


.maskot {
  /* Your modal styles go here */
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  z-index: 9999999999999999;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.mascot-modal-content {
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.clickable{
  cursor: pointer;
}

/* styles.css */
.floating-cart {
  position: fixed;
  bottom: 5%; /* Adjust the distance from the bottom as per your preference */
  right: 5%; /* Adjust the distance from the right as per your preference */
  width: 130px; /* Set the initial width of the floating image */
  height: auto; /* Automatically adjust the height while maintaining the aspect ratio */
  z-index: 9999; /* Set a high z-index value to ensure the image stays on top of other elements */
  transition: width 0.3s ease; /* Add a transition effect for the width property */
  cursor: pointer;
}

.floating-cart:hover {
  width: 160px; /* Adjust the width on hover to make it grow */
}

.even-item {
  background-color: white; /* Set your desired background color for even items */
  border-top: 2px dotted purple;
}

.odd-item {
  border-top: 2px dotted purple;
  background-color: lightgray; /* Set your desired background color for odd items */
}


/* Add these styles to your CSS file or styles */
.scrollable-bar {
  /* Force the scrollbar to be always visible on mobile */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888888 #f0f0f0; /* Firefox */

  /* Force the scrollbar to be always visible on Webkit (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: gray
  }

  &::-webkit-scrollbar-track {
    background-color: purple;
  }
}
.lhspan{
  line-height: 1em;
}



.modal-overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Adjust z-index as needed */
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10000; /* Set a higher z-index than the backdrop */
  background: #fff !important;
}

.button-group{
margin: 0 auto;
width: 100%;
}

.inputPurchase{
  padding-top: 0.1em;
}